/* NAVBAR */

.navbar-brand {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
}

.text-logo {
    text-decoration: none;
    color: cornflowerblue;
    margin-top: -5px;
    margin-left: 10px;
}

.navbar-nav {
    margin-left: 40%;
}

.nav-link:hover {
    border-bottom: solid 2px cornflowerblue;
}

.fa-box {
    color: cornflowerblue;
}

/* JUMBOTRON */

.jumbotron {
    margin-top: 20px;
}

/* CARD */

.block-card {
    justify-content: space-around;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 38rem; 
    border-radius: 10px;
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.05);
}

/* CAROUSEL */

.text {
    width: 50%; 
    margin: auto; 
    padding-bottom: 40px;
}

#carouselExampleIndicators {
    width: 40%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(248, 252, 248, 0.699);
    border: solid 3px #138496;
}

/* FORM , CHECK-BOX */

.form-row {
    justify-content: center; 
    margin-top: 20px;
}

.btn-info:hover {
    -webkit-animation: flip-scale-up-ver 0.5s ease-in-out reverse both;
    animation: flip-scale-up-ver 0.5s ease-in-out reverse both;
}

@-webkit-keyframes flip-scale-up-ver {
    0% {
        -webkit-transform: scale(1) rotateY(0);
        transform: scale(1) rotateY(0);
    }

    50% {
        -webkit-transform: scale(2.5) rotateY(90deg);
        transform: scale(2.5) rotateY(90deg);
    }

    100% {
        -webkit-transform: scale(1) rotateY(180deg);
        transform: scale(1) rotateY(180deg);
    }
}

@keyframes flip-scale-up-ver {
    0% {
        -webkit-transform: scale(1) rotateY(0);
        transform: scale(1) rotateY(0);
    }

    50% {
        -webkit-transform: scale(2.5) rotateY(90deg);
        transform: scale(2.5) rotateY(90deg);
    }

    100% {
        -webkit-transform: scale(1) rotateY(180deg);
        transform: scale(1) rotateY(180deg);
    }
}

/* FOOTER */

footer {
    margin-top: 30px;
}

.text-center {
    background-color: rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERY */

@media only screen and (max-device-width : 991px) {
    .nav-link:hover {
        border-bottom: none;
    }

    .nav-link {
        display: flex;
        margin-left: 10%;
    }

}

@media only screen and (min-device-width : 280px) and (max-device-width : 653px) {

    .display-4 {
        font-size: 30px;
    }

    .contenair {
        width: 90%;
        margin: auto;
    }

    .card {
        width: 85%;
    }

    #carouselExampleIndicators {
        width: 80%;
    }
}