/* NAVBAR */

.nav-link:hover {
    border-bottom: solid 2px cornflowerblue;
}

/* CARD */

.card {
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.05);
}

/* FORM , CHECK-BOX */

.btn-info:hover {
    -webkit-animation: flip-scale-up-ver 0.5s ease-in-out reverse both;
	        animation: flip-scale-up-ver 0.5s ease-in-out reverse both;
}

@-webkit-keyframes flip-scale-up-ver {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateY(90deg);
              transform: scale(2.5) rotateY(90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(180deg);
              transform: scale(1) rotateY(180deg);
    }
  }
  @keyframes flip-scale-up-ver {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateY(90deg);
              transform: scale(2.5) rotateY(90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(180deg);
              transform: scale(1) rotateY(180deg);
    }
  }